https://github.com/Rapptz/discord.py/archive/rewrite.zip#egg=discord.py[voice]
pillow
youtube-dl
requests
parsedatetime
psutil
pyparsing"
pyquery
git+https://github.com/paulovn/python-aiml"
pyspeedtest
pytz
wikipedia
mtranslate
giphyPop
git+https://github.com/shaunduncan/giphypop.git#egg=giphypop
Flask
python-levenshtein
